body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    background: #17181c;

}

a {
    color: #d1d1d1;
    text-decoration:none;
}
 .href {
    color: #066eb4;
}





h3 {
    border-bottom:1px solid #595959;
    padding:10px ;

    color:#fff;
}

/* header */
#header {
    padding:25px 20px;
    font-size:14px;
    background: #15161a;
    color:#fff;
    height: 35px;
    border-bottom:1px solid #242424;
    display: flex;
}
.header-image-and-logo {
    display: flex;

    width: 100%
}
.image-logo{
    flex: none;
    width: 50px;
    margin-right: 20px;
}

.logo {
    font-family: 'Muli', sans-serif;
    color: #f9f9f9;
    font-size:25px;
    flex: none;
}

#mySearch {
    text-align: center;
    flex: none;
    justify-content: center;
    background-color: #17181c;
    height: 30px;
}
#mySearch ::placeholder{
    padding: 5px;
}

#header a {
    color: #fff;
}
#header a:hover {
    color:#fff;
}

#header a:active{
    color: #d1d1d1;
}

#header .user2 {
    flex: none;
    display: flex;
    justify-content: flex-end;
    max-width: 33%;text-align: right;
    width: 100%;
    flex: none;
    flex-direction: row;
}

#header .user3 {
    flex: none;
    display: flex;
    justify-content: flex-end;
    max-width: 33%;
    text-align: right;
    width: 100%;
    flex-direction: row;
    padding-top:4px;
    color: #fff;
}


.header-image {

    width: 34px;
    margin-left: 30px;
}

#content {
    margin:75px 45px;
    color: #e5e5e5;
    justify-content: center;

}

#content a:active{
    color: #d1d1d1;
}

/* forms */


form p {
    width:100%;
    overflow:auto;
    color:#fff;
}

label {

    clear:both;
    color:#fff;
    margin-bottom:1px;
}
#id_gender{
    width: 200px;
}
input, textarea {
    clear:both;
    margin: auto;
    background: rgb(41, 41, 41);
    padding:6px 10px;
    font-size: 16px;
    width: 100%;
    max-width:270px;
    height: 23px;
    color: #f9f9f9;
    border: 1px solid #8c8c8c;
}
::placeholder{
    color: #a9a9a9;
}

input[type=submit], a.button {
    font-weight: bold;
    background: #0e6ac0;
    color: #ffffff;
    padding: 6px 10px;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    max-width: 290px;
    height: 35px;
    border-radius: 5%;
    width: 100%;
}
.button-login-follow {
    font-weight: bold;
    background: #0e6ac0;
    color: #ffffff;
    padding: 6px 10px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    height: 30px;
    border-radius: 5%;
}
.button-register{
    color: #0e6ac0;
    font-size: 18px;
    margin: 6px 10px;
}
.edit-submit{
    font-weight: bold;
    background: #0e6ac0;
    color: #ffffff;
    padding: 6px 10px;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    width: 80px;
    height: 35px;
}
/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

.userdetail-profile-photo {
    border-radius:50%;
    width: 150px;
    height: 150px;
}

.userdetail-profile{
    max-width: 613px;
    width: 100%;
    height: 150px;
    text-align: left;
}
.userdetail-profile p{

}
.userdetail-profile a{

}

.userdetail-button{
    display: flex;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    border-top: 1px solid #595959;
    height: 52px
}

.userdetail-button a{
    flex: none;
    margin:0px 35px;
    padding-top: 20px;
    font-size: 16px;
}
@media (max-width: 725px) {
    .detail-button{
        display: none;
    }
    .userdetail-button{
        border-bottom: 1px solid #595959;
    }
    .userdetail-profile-photo{
        width: 77px;
        height: 77px;
    }
}
@media (max-width: 400px) {
    #content {
        margin:75px 0;
    }
}
@media  (max-width: 625px){
             #mySearch { display: none;}
            #fa-search{display: none;}
            .autocomplete {display: none;}

        }
@media (max-width: 1050px) {
    .sidebar_left{margin: auto}
    .sidebar_right{display: none}
}
.useredit-photo {
    border-radius:50%;
    margin-right: 10px;
    width: 38px;
    height: 38px;
    float: left;
}
.user-head {
    height: 150px;
    margin-bottom: 90px;
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
}

.user-bottom{
    text-align: center;
}

#image-list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.image {

}

.user-image-list{
    margin: 18px;
    width: 100%;

    min-width: 33px;
    min-height: 33px;
    max-width: 335px;
    max-height: 335px;
}

.edit {
    border: 1px solid #595959;
    padding: 5px 10px;
}

.user img {
    display: block;
    width:56px;
    height:56px;
    border-radius:50%;
    margin:auto;
    text-align:center;

}
.people{
    width: 1200px;
    height: 250px;
    overflow: hidden;

}

#people-list {
    width: 100%;
    height: 200px;
    display: flex;
}
#people-list .user {
    width:160px;
    height: 200px;
    padding:10px;
    border-style: solid;
    border-width: 1px;
    border-color: #595959;
    margin: 15px;

}

#people-list .info { text-align:center; }

.helptext {
    display: none;
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}

.form1  {
    border-style: solid;
    border-width: 1px;
    border-color: #595959;
    max-width: 430px ;
    text-align: center;
    margin: auto;
    vertical-align: center;
}

.form2  {
    border-style: solid;
    border-width: 1px;
    border-color: #595959;
    max-width: 430px ;
    text-align: center;
    vertical-align: center;
    margin: auto;
}

.setting-form {
    border-style: solid;
    border-width: 1px;
    border-color: #595959;
    height:100%;
    min-height: 450px;
}

.setting-title {
    width: 25%;
    float:left;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #595959;
    height: 100%;
}

.setting-title button {
        background:#17181c;
    border-radius: 8px;
    padding:15px;
    width: 100%;
    max-width: 290px;
    color: #d0d0d0;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    height: 60px;
    padding-left: 30px;

}
.setting-title li {
    cursor: pointer;


    width: 250px;
    list-style-type: none;
    line-height:60px;
}
.setting-title  a {
    margin: auto;

}

.setting-article  {

    float:left;
    width: 60%;
    height: 100%;
    padding: 30px 60px;

}
.setting-article article {
    line-height:30px;

}

.setting-article  form{
    clear:both;
    margin: auto;
    padding:3px 5px;
    font-size: 16px;
    width:300px;
    height: 23px;
    color: #f9f9f9;
}

.setting-photo-user {
    margin: auto;
    width:300px;
}

.password-change  ul{
    display: none;
}

.item-img {
    width: 30px;
    height: 30px;
    margin: 0px  15px 5px 15px ;
    border-radius:50%; /* 圓形*/
    float: left;
}
.container {
    display: flex;
}

.sidebar_left {
    flex: none;
    max-width: 750px;
    min-width: 106px;
    width: 100%;

}

.sidebar_right {
    flex: none;
    margin-left: 40px;
}

.index-request-user {
    width: 60px;
    height: 60px;
    border-radius:50%; /* 圓形*/
    float: left;
    margin: 0px 15px 0px 0px;
}
#index-request-username {

}

.limit {
    width: 350px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #595959;
    min-height: 300px;
    margin: 35px 0 0px 0;
}

.limit2 {
    width: 350px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #595959;
    min-height: 300px;
    margin: 20px 0 15px 0;
}

.actions {

    margin: 0px 0px 90px 0px;
    max-width: 750px;
    min-width: 106px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #bbbbbb;
}

.action-user{
    font-weight: 600;

    text-overflow: ellipsis;
    white-space: nowrap;

}

.action-image{
    min-width: 106px;
    max-width: 750px;
    width: 100%;
}
.explore-users {

    width: 100%;
    height: 400px;
}

.explore {
    width: 100%;
}
.image-detail-all{
    border: 1px solid #595959;
    width: 100%;
    display: flex;
}
.image-detail-left {
    flex: none;
}

.image-detail {
    width: 100%;
    min-width: 200px;
    max-width: 750px;
    max-height: 1080px;
}

.image-detail-right {
    flex: none;
}

@media (max-width: 920px) {

}

.follow-image {
    width: 30px;
    height: 30px;
    border-radius:50%;
    margin: 10px;
}

.image-detail-user-image {
    width: 40px;
    border-radius:50%;
    float: left;

}

.comment {
    overflow: auto;
}

.image-detail-header{
    height: 40px;
    border-bottom: 1px solid #595959;
}

#id_body {
    background-color: #17181c;
    border: none;
    outline: none;
    padding: 0px;
    padding-top: 10px;
    max-width: 550px;
    font-size: 18px;

}

.image-button {
    border:0;
    background-color: #17181c;
    outline:none;
}

#left{
    position: relative;
    top:120px;
    left: 3px;
    border: none;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5
}

#right{
    position: relative;
    top:120px;
    left: 1110px;
    border: none;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5
}