{% load staticfiles %}
<!DOCTYPE html>
<html>
    <style>
        .sticky {
          position: fixed;
          top: -10px;
          width: 97%;
          padding: 20px 20px;
        }
        #myDIV {
            position: fixed;
            top: 65px;
            left: 800px;
            width: 400px;
            height: 300px;
            display: none;
            background-color: #bababa;
            font-size: 18px;
            border-radius: 2%;
        }
        @media  (max-width: 625px){
             #mySearch { display: none;}
        }
    </style>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0; user-scalable=0;">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/base2.css" %}" rel="stylesheet">
        <link rel="icon" type="image/png" href="../../media/kar.png" />
    </head>
    <body onload="init()">
        <div id="header">
            <div class="header-image-and-logo">
                <a href="/"><img src="../../media/kar.png" class="image-logo"></a>
                <a href="/"><span class="logo">Mate</span></a>
            </div>
                <input  type="search" id="mySearch" placeholder="搜尋" autocomplete="off">
                    {% if request.user.is_authenticated %}
                        <div class="user2" style="">
                            <a href="/explore/"><img src="../../media/explore.png" class="header-image"></a>
                            <span style="cursor: pointer" onclick="myFunction2()"><a type="button" ><img src="../../media/heart.png" class="header-image"></a></span>
                            <a href="/{{ request.user }}/"><img src="../../media/personal.png" class="header-image"></a>
                        </div>
                        <span id="myDIV">
                            <a>貼文活動紀錄<br/>
                                有人對你的貼文按讚或留言時，就會顯示在這裡。</a>
                        </span>

                    {% else %}
                        <span class="user3">
                            <a href="/accounts/login/"><button class="button-login-follow">登入</button></a>
                            <a href="/accounts/register/" class="button-register">註冊</a>
                        </span>
                    {% endif %}

        </div>
        {% if messages %}
         <ul class="messages">
           {% for message in messages %}
             <li class="{{ message.tags }}">
            {{ message|safe }}
                <a href="#" class="close"></a>
             </li>
           {% endfor %}
         </ul>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <!-- Remember to include jQuery :) -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

        <!-- jQuery Modal -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
         <link rel="stylesheet" href="{% static "css/jquery.modal.min.css" %}" />
        <script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>

        <script>
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $(document).ready(function(){
                {% block domready %}
                {% endblock %}
            });

            window.onscroll = function() {myFunction()};

            var header = document.getElementById("header");
            var sticky = header.offsetTop;

            function myFunction() {
              if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
                  $('.logo').hide();
                  $('.header-image').show()
              } else {
                header.classList.remove("sticky");
                $('.logo').show();
              }
            }

            function myFunction2() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "block") {
                    x.style.display = "none"
                } else   {
                    x.style.display = "block"
                }
            }


            function init() {
                var mySearch = document.getElementById("mySearch");
                mySearch.style.textAlign = "center";
                var searchfocus = function () {
                    this.style.textAlign = "left"
                };
                mySearch.addEventListener("focus", searchfocus);

                var searchblur = function () {
                    this.style.textAlign = "center"
                };
                mySearch.addEventListener("blur", searchblur);
            }
        </script>

    </body>
</html>