{% extends "base2.html" %}
{% load thumbnail %}

{% block title %}Mate{% endblock %}

{% block content %}
    <style>
        .modal{
            display: none;
        }
    </style>
    <div class="container">
        <div class="sidebar_left">
        {% if actions %}
            <div id="action-list">
                {% for action in actions %}
                    {% if action.user in request.user.following.all %}
                        {% include "actions/action/detail.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>目前沒有動態</p>
        {% endif %}
        </div>

        <div class="sidebar_right">

                <a href="/{{ request.user }}"><img src="{{ request.user.profile.photo }}" class="index-request-user"></a>

                <p><a href="/{{ request.user }}" id="index-request-username">{{ request.user }}</a></p>

            <div class="limit">
                <a>限時動態</a><a style="float: right">全部觀看</a>
            </div>
            <div class="limit2">
                <a>推薦用戶</a><a style="float: right">查看全部</a>
            </div>
            <a>關於我們‧支援‧新聞稿‧API‧工作機會‧隱私‧<br/>使用條款‧目錄‧個人檔案‧主題標籤‧語言</a>
        </div>
    </div>
{% endblock %}

{% block domready %}

{% for action in actions %}
    {% for user in action.target.users_like.all %}
         $('#user{{ user }}').click(function(e){
        e.preventDefault();
        $.post('{% url "user_follow" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('#user{{ user }}').data('action');


                    // toggle data-action
                    $('#user{{ user }}').data('action', previous_action == '追蹤' ? '已追蹤' : '追蹤');

                    // toggle link text
                   $('#user{{ user }}').text(previous_action == '追蹤' ? '已追蹤' : '追蹤');


        }

        });

    });
    {% endfor %}

    $('#images_{{ action.target.id }}').click(function(e){
        e.preventDefault();
        $.post('{% url "images:like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('#images_{{ action.target.id }}').data('action');

                    // toggle data-action
                    $('#images_{{ action.target.id }}').data('action', previous_action == 'like' ? 'unlike' : 'like');
                    // toggle link text
                    $('#images_{{ action.target.id }}').text(previous_action == 'like' ? 'Unlike' : 'Like');

                    // update total likes
                    var previous_likes = parseInt($('#total{{ action.target.id }}').text());
                    $('#total{{ action.target.id }}').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                }
        });

    });


        {% for comment in action.target.comments.all %}
            $('#comment_like_button_{{ comment.id }}').click(function(e){
                e.preventDefault();
                $.post('{% url "images:comment_like" %}',
                    {
                        id: $(this).data('id'),
                        action: $(this).data('action')
                    },
                    function(data){
                        if (data['status'] == 'ok')
                        {

                            var previous_action = $('#comment_like_button_{{ comment.id }}').data('action');

                            // toggle data-action
                            $('#comment_like_button_{{ comment.id }}').data('action', previous_action == 'like' ? 'unlike' : 'like');
                            // toggle link text
                            $('#comment_like_button_{{ comment.id }}').text(previous_action == 'like' ? 'Unlike' : 'Like');

                            }
                });

            });
        {% endfor %}

    $('#saved{{ action.target.id }}').click(function(e){
        e.preventDefault();
        $.post('{% url "images:saved" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('#saved{{ action.target.id }}').data('action');

                    // toggle data-action
                    $('#saved{{ action.target.id }}').data('action', previous_action == 'saved' ? 'unsaved' : 'saved');
                    // toggle link text
                    $('#saved{{ action.target.id }}').text(previous_action == 'saved' ? 'Unsaved' : 'Saved');


                }
        });

    });
{% endfor %}

{% endblock %}