dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.4
django-markdown==0.8.4
django-resized==0.3.9
django-uuslug==1.1.8
gunicorn==19.9.0
Markdown==3.0.1
Pillow==8.1.1
psycopg2==2.7.7
python-slugify==2.0.1
pytz==2018.7
slugify==0.0.1
sorl-thumbnail==12.5.0
static3==0.7.0
style==1.1.0
Unidecode==1.0.23
update==0.0.1
