{% extends "base2.html" %}
{% load thumbnail %}
{% block title %}更改密碼{% endblock %}
{% block content %}
    <div class="setting-form">
        <div class="setting-title">
            <ul>
            <li><a href="/accounts/edit/">編輯個人檔案</a></li>
            <li><a href="/accounts/password_change/">更改密碼</a></li>
            <li><a href="/accounts/edit/">已授權的應用程式</a></li>
            <li><a href="/accounts/edit/">電子郵件和簡訊</a></li>
            <li><a href="/accounts/edit/">管理聯絡人</a></li>
            <li><a href="/accounts/edit/">隱私設定與帳號安全</a></li>
            </ul>
        </div>
        <div class="setting-article">
            <article>
                <form action="." method="post" enctype="multipart/form-data" class="password-change">
                    {% thumbnail user.profile.photo "50x50" crop="20%" as im %}
                        <a href=""><img src="{{ im.url }}" class="userdetail-profile-photo"></a>
                    {% endthumbnail %}
                    {{ user }}
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="更改密碼"></p>
                </form>
            </article>
        </div>
    </div>
{% endblock %}