{% extends "base2.html" %}
{% load staticfiles %}
{% block title %}新貼文{% endblock %}


{% block content %}
    <h1>新貼文</h1>
    <form action="." method="post" enctype="multipart/form-data" id="formUpload" autocomplete="off">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="分享">
    </form>
    <br/>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/cropper.js' %}"></script>

    <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_image").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });






    });
  </script>






  <!-- MODAL TO CROP THE IMAGE -->
  <div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 1080px;max-height: 1080px;width: 100%">
        </div>
      </div>
    </div>
  </div>



{% endblock %}