{% extends "base2.html" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="explore-users">
        <p>探索用戶<a href="people/suggested/" style="float: right;color: #0e6ac0">查看全部</a></p>
            <blockquote>推薦用戶<a href="people/suggested/" style="float: right;color: #0e6ac0">查看全部</a></blockquote>
        <button id="left" style="position: relative;top:120px"> < </button>
        <button id="right" style="position: relative;top:120px;left: 1110px"> > </button>

        <div class="people">
            <div id="people-list">
               {% for user in users %}
                    {% if user == request.user %}
                    {% else %}
                    <div class="user">
                     <a href="/{{ user }}/"><img src="{{ user.profile.photo }}"></a>
                    <div class="info">
                     <p><a href="{{ user.get_absolute_url }}" class="title">{{ user }}</a></p>
                   </div>
                 </div>
                {% endif %}
               {% endfor %}
            </div>
        </div>
    </div>

    <div class="explore">
        <p>探索</p>
        <div id="image-list" style="border: none">
            {% for user in users %}
                {% include "images/image/list_ajax.html" with images=user.images_created.all %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block domready %}


    var outer = $('.people');

            $('#right').click(function() {
               outer.animate({scrollLeft: '+=700px'}, 1000);
            });

            $('#left').click(function() {
               outer.animate({scrollLeft: '-=700px'}, 1000);
            });

{% endblock %}

